google-cloud-bigquery>=3.3.0
google-cloud-firestore>=2.13.1
pandas>=2.0.0
pandas-gbq>=0.26.1
psycopg2-binary>=2.9.5
python-dotenv>=1.0.0
temporalio>=1.4.0
spacy>=3.7.2
transformers>=4.35.0
torch>=2.0.0
db-dtypes>=1.1.1
lxml>=5.3.1
